:root {
  --form-primary-color: #b1b1b1;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

input,
button,
a {
  font: inherit;
}
